/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mix */
.flex-align-middle {
  display: flex;
  align-items: center;
}

/* Typo */
.text--wcolor {
  color: white;
}

.section--title {
  color: white;
  font-size: 25px;
}

.description--title {
  color: white;
  font-size: 20px;
}

.description--subtitle {
  color: #676767;
}

/* MAIN */
.app-view {
  height: 100vh;
  background-color: #22262D;
  width: 100%;
  display: flex;
}

/* Side-bar  */

.side-bar {
  height: calc(100% - 70px);
  width: 200px;
  background-color: black;
  padding-left: 15px;
}

.side-bar * {
color: #676767;
}

.side-bar__header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.side-bar__header .logo {
  padding-bottom: 15px;
}
