/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* Mix */
.clearfix {
  display: block;
  content: '';
  clear: both;
}

.flex-align-middle {
  display: flex;
  align-items: center;
}

.list_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.d-block {
  display: block;
}

.btn_link,
.btn_link:hover,
.btn_link:focus {
  text-decoration: none;
  outline: none;
}

.btn_function {
  border: none;
  background-color: transparent;
}

.btn_function:hover,
.btn_function:focus {
  cursor: pointer;
}

.btn_function:focus {
  outline: none;
}

/* Typo */
*:not(.bottom-bar) {
  color: #676767;
}

* {
  font-size: 14px;
}

.playlist--title,
.section--title,
.description--title,
.text--wcolor {
  color: white;
}

.section--title {
  font-size: 25px;
  flex-shrink: 0;
}

.description--title {
  font-size: 20px;
}

.playlist--title {
  text-transform: uppercase;
}

/* MAIN */
.app-view {
  height: 100vh;
  width: 100%;
  background-color: #22262D;
  display: flex;
  flex-wrap: wrap;
}

/* Side-bar  */

.side-bar {
  height: calc(100% - 64px);
  flex-shrink: 0;
  width: 200px;
  background-color: black;
  padding-left: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.side-bar [class*="btn_"] {
  margin-bottom: 10px;
}

/* Side-bar__header */
.side-bar__header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.side-bar__header .logo {
  padding-bottom: 15px;
}

/* Side-bar__account-playlist */
.side-bar__playlist {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.side-bar__playlist ul {
  overflow: auto;
  min-height: 50px;
}

.side-bar__playlist li {
  margin-bottom: 10px;
}

.playlist_title {
  padding-bottom: 10px;
}

.account {
  flex-shrink: 0;
  height: 40px;
  margin-top: auto;
}

.account .btn_link {
  margin-bottom: 0;
}

/* Collections */
.collections {
  padding: 0 15px 70px 15px;
  overflow-y: auto;
  flex-grow: 1;
  width: calc(100% - 200px);
  height: calc(100% - 64px);
}

.collections__top-bar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100% - 200px);
  padding: 30px 30px 30px 0;
  z-index: 1030;
  top: 0;
  left: 200px;
}

.btn_upgrade {
  float: right;
}

.collections__nav {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.collections__nav .list_flex li {
  margin-right: 20px;
}

.collections__section {
  margin-top: 30px;
}

.collections__row {
  display: flex;
  flex-wrap: wrap;
}

.collections__row__box {
  width: calc(100% / 6 - 15px);
  margin-right: 15px;
  text-align: center;
}

.collections__row__box img {
  width: 100%;
}

/* Responsive */
@media screen and (max-width:991px) {
  .collections__row__box {
    width: calc(100% / 4 - 15px);
  }
}

@media screen and (max-width:767px) {
  .collections__row__box {
    width: calc(100% / 2 - 15px);
  }
}

/* Bottom-bar */
.bottom-bar {
  background-color: #1D1D1D;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}
