/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* Mix */
.flex-align-middle {
  display: flex;
  align-items: center;
}

.d-block {
  display: block;
}

.btn_link,
.btn_link:hover,
.btn_link:focus {
  text-decoration: none;
  outline: none;
}

.btn_function {
  border: none;
  background-color: transparent;
}

.btn_function:hover,
.btn_function:focus {
  cursor: pointer;
}

.btn_function:focus {
  outline: none;
}

/* Typo */
*:not(.bottom-bar) {
  color: #676767;
}

* {
  font-size: 14px;
}

.playlist_title,
.section--title,
.description--title,
.text--wcolor {
  color: white;
}

.section_title {
  font-size: 25px;
}

.description_title {
  font-size: 20px;
}

.playlist_title {
  text-transform: uppercase;
}

/* MAIN */
.app-view {
  height: 100vh;
  background-color: #22262D;
  display: flex;
}

/* Side-bar  */

.side-bar {
  height: calc(100% - 70px);
  width: 200px;
  background-color: black;
  padding-left: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.side-bar [class*="btn_"] {
  margin-bottom: 10px;
}

/* Side-bar__header */
.side-bar__header {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 150px;
}

.side-bar__header .logo {
  padding-bottom: 15px;
}

/* Side-bar__account-playlist */
.side-bar__acount-playlist {
  display: flex;
  flex-direction: column;
  height: calc(100% - 150px);
}

.playlist {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist ul

.playlist_title {
  padding-bottom: 10px;
}

.account {
  flex-shrink: 0;
  height: 40px;
}

.overflow-auto {
  overflow: auto;
  min-height: 50px;
}

/* Collections */
.collections {
  width: calc(100% - 200px);
}

.collections__top-bar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 30px 0;
}

.btn_upgrade {

}
